<div class="jumbotron">
  <div class="container">
    <h1>Welcome to ServantOfAll!</h1>
    <p>
      Join the movement today! Christians worldwide are discovering the key
      to greatness in the kingdom of God. Greatness as God defines greatness.
    </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>The Greatest Commandment</h2>
      <p> The keys to Greatness in the Kingdom of God can be found in the words
        of Jesus. The first key is found in the greatest commandment. When asked what is
        the greatest commandment Jesus responded with the top two: Love God and
        Love your neighbor.
     </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2> Love One Another </h2>
      <p> Why does Jesus emphasize the need for his disciples to love one
        another? After all, we are supposed to love everyone right? One key to
        greatness is God's kingdom is found in understanding what it means to
        love one another and how that should look in our daily lives.
      </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>The Greatest in the Kingdom of Heaven</h2>
      <p>
        The GREATEST in the kingdom of heaven? Doesn't that sound a bit proud?
        When you begin to understand greatness as God defines it, you realize
        pride has nothing to with it.

      </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
{{outlet}}
